body{
    margin: 0;
    padding: 0;
    background-color:#fafafa;
}

.foto-perfil {
    height: 530px;
    width: 350px;
    display: flex;
    justify-content: center;
}

.center-card{
    display: flex;
    justify-content: center;
    align-items: center;
}


.jumbotron{
    background-color: #fafafa;
}

.foto-card{
    height: 270px;
}

.foto-card-carreira{
    height: 270px;
    width: 300px;
}

.verticalLine {
    border-left: thick solid#006064 ;
}

.card-projeto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.card-projeto-texto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
}

.card-projeto-foto{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.menu-mobile{
    margin-inline-end: 15px ;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9e9e9e !important;
}

.icones {
    padding-left: 5px;
}


.panel-group .panel+.panel {
    margin-top: 5px;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.panel-default>.panel-heading {
    background-color: #b8b7b7;
    border-color: transparent;
}
.panel-heading a:after {
    content:"\2212";
    float: right;
}
.panel-heading a.collapsed:after {
    content:"\2b";
}

.panel-heading a:after {
  content:"\2212";
  float: right;
}
.panel-heading a.collapsed:after {
  content:"\2b";
}
.panel-title {
    font-weight: 700;
}
.panel-heading a:after {
    color: #0c9165;
}

.link-branco{
    color: #fff;
    text-decoration: none; 
    font-size: 14px;
}

.link-branco:hover{
    color: #fff;
    text-decoration: none; 
}

.titulo-preto{
    color: #9e9e9e;
}

.fab{
    font-size: 40px;
    color: #fff;
}

.fa-envelope{
    font-size: 40px;
    color: #fff;
}

.titulo-principal{
    text-align: center;
    margin: 60px auto;
    font-family:'Courier New', Courier, monospace;
    color: #9e9e9e;
}
.titulo-principal:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* 
resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}


@media screen and (max-width: 400px) {
    .card-projeto{
        display: flex;
        flex-direction: column-reverse;
    }

    .card-projeto-foto{
        margin-top: 10px;
    }

    .foto-card{
        height: 150px;
        display: flex;
        justify-content: center;
    }
 
}